@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* css global lebih baik digunakan hanya untuk memberi style secara menyeluruh kesemua komponen yang kita punya 
jadihanya bisa digunakan pada komponen yang sifatnya menyeluruh saja,
jika kita mau memberi style yang lebih spesifik maka kita bisa membuat file style css module sendiri di dalam folder halaman yang akan kita beri style*/
